/*div.gallery {*/
  /*margin: 5px;*/
  /*border: 1px solid #ccc;*/
  /*float: left;*/
  /*width: 180px;*/
/*}*/

/*div.gallery:hover {*/
  /*border: 1px solid black;*/
/*}*/

div.gallery img {
  width: 100%;
  height: auto;
  transition: transform .5s;
	position: static;
	z-index: -1;
}

div.gallery { 
	position: static;
	z-index: -1;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery img:hover {
	z-index: 1;
  transform: scale(1.5);
}
